
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(195, 224, 238);
    color: black;

    }


h1{
    text-align: center;
    text-decoration: none;
    color:rgb(5, 90, 124);
    border:1px solid rgb(2, 94, 117); background-color: rgb(2, 59, 73);
    border-radius: 4px;
    height: 300%;
    color: white;
    padding: 10px;
    display: block;
    width: 1300px;

}



ul{
    /*outline: 1px solid blue;*/
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(5, 75, 102);
    line-height: 60px;
    overflow: auto;
    border-radius: 4px;           
}



h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
}



li {
   /* outline: 1px solid red;*/
    width: 100px;
    /*display: inline-block;*/
    text-align: center;
    float: left;
    
}


a{
    /*outline: 1px solid green;*/
    text-decoration: none;
    display: block;
    color: white;
    border-radius: 2px;
    width: auto;
    
}



a:hover{
    background-color: rgba(12, 162, 182, 0.829);
    color: black;
}



.subtitulo{
    text-align: justify;
    font: 0.9em/1.2 Arial,"Times New Roman", "Sans-seif";
    
}



.pueblos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-decoration:underline;
}



.compilado > header, footer{
    border-radius: 5px;
    border: 2px orange;
    padding: 5px;


}



.compilado{
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-gap: 10px;
}



header{
    grid-area: header;
}



article{
    grid-area: sidebar;
    text-align: center;
}



aside{
    grid-area:content;
    text-align: center;
}



footer{
    grid-area: footer;
    color: gray;
    
}


img{
    float: center;
    border: 5px;
}



.principal{
    float: center;
    
}



table{
    width:900px;
    height: 100px;
    margin: 10px;
    text-align: justify;
    display: block;
    text-align: center;     
}


.cabecera{
    
    vertical-align: top;
    font-size: 18px;
    width: 22.7em;
    line-height: 1.4em;
    padding:15px;
    margin-top: 15px;
    background-color: rgb(229, 240, 237);
    border: 1px soild #B4BBC8;
       
    }


.summary{
    
    border: 1px soild #B4BBC8;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
        
}



th{
    background-color: rgb(236, 236, 236);
    font-size: 15px;
    padding-bottom: 15px; 
   border: 1px soild #B4BBC8;
   color:rgb(2, 59, 73);
   
}



td{
    background-color: white;
    font-size: 13px;
    padding-bottom: 20px;
    border: 1px soild #B4BBC8;
        
}